
covaid/__pycache__/forms.cpython-38.pyc
covaid/__pycache__/config.cpython-38.pyc
covaid/__pycache__/forms.cpython-38.pyc
covaid/__pycache__/oursecrets.cpython-38.pyc
covaid/__pycache__/forms.cpython-38.pyc
*.pyc
*.pyc
covaid/config.py
*.pyc
*.pyc
*.pyc
