{% extends "layout.html" %}
{% block content %}
  <style>
    html {
      overflow-y: hidden;
    }
  </style>
  <div id="home-page-heading" class="row">
    <div class="col">
      <h1 class="display-1" style="text-align:center"> 
          CovAid
      </h2>
      <p class="lead" style="text-align:center">
          An platform to connect volunteers to those in need during the COVID-19 outbreak
      </p>
    </div>
  </div>
  <div id="home-page-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://cdn.abcotvs.com/dip/images/5886238_Coronavirus-generic.jpg?w=1600" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://static01.nyt.com/images/2020/03/04/nyregion/04nytoday/merlin_169917465_0a55e41f-d5cb-4da2-89fe-21b2f39ea641-superJumbo.jpg?quality=90&auto=webp" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://static01.nyt.com/images/2020/03/16/nyregion/16nytoday/16nytoday-superJumbo.jpg?quality=90&auto=webp" class="d-block w-100">
      </div>
    </div>
  </div>
{% endblock content %}