{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="card">
      <img src="" id="requests-image" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">Request</h3>
        <p class="card-text">Fill out a request form if you are in need of something and you will be connected with a driver.</p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
    </div>
    <div class="card">
      <img src="" id="requests-image" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">Your Request</h3>
        <p class="card-text">Fill out a request form if you are in need of something and you will be connected with a driver.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
