html {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top:0;
    padding-top:0;
    height:100%;
}

#home-page-heading {
    color: white;
    position: relative;
    z-index: 2;
    top: 270px;
}

#home-page-carousel {
    bottom: 186px;
    position: relative;
    z-index: 1;
    margin-top: 0px;
}

.slideshow-container {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: 0px;
    height: 0px;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    visibility: hidden;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 14px}
  }
