html {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top:0;
    padding-top:0;
    height:100%;
}

body {
  background-image: url(https://lh3.googleusercontent.com/proxy/VH5DFJVT_lfWfEazxey6jBPOd-RQYexbumRyZCKhuuGWHV-dXqNEmD0tDSrXGuStkAZ-L7osCN1kRPa2Tr3jiBAaGPwL-lzIiacRYHuxnVnvVw6deg);
  background-size: auto 40%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#home-page-heading {
    color: white;
    position: relative;
    z-index: 2;
    top: 200px;
}

#home-page-carousel {
    bottom: 235px;
    position: relative;
    z-index: 1;
    margin-top: 0px;
}

.slideshow-container {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: 0px;
    height: 0px;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    visibility: hidden;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 14px}
  }

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

#get-started {
  background-color: #ff7c7c !important;
  border-color: #ff7c7c !important;
  border-radius: 50px;
}

.btn-primary {
  background-color: #ff7c7c;
  border-color: #ff7c7c;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:link, .btn-primary:focus {
  background-color: #88e1f2 !important;
  border-color: #88e1f2 !important;
  box-shadow: none;
}

.badge-info {
  background-color: #88e1f2;
}

#get-started:hover {
  background-color: #88e1f2 !important;
  border-color: #88e1f2 !important;
}

.card {
  border-radius: 10px;
}

#requests-near {
  max-height: 580px;
  overflow: auto;
}

#your-requests {
  max-height: 365px;
  overflow: auto;
}