html {
    overflow-y: scroll;
}

.home-page-heading {
    text-align: center;
    position: absolute;
    z-index: 1;
}

.home-page-carousel {
    text-align: center;
    position: absolute;
    top: 100px;
    z-index: 0;
}